.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 35px;
}

.App-header {
  background-color: #222;
  height: 90px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container > * {
  flex: 1;
  /*border: 1px solid red;*/
}

.input-box {
  /*border: 1px solid red;*/
}

.output-box {
  border: 1px solid red;
  height: 750px;
  widght: 500px;
}
